.App {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(219, 219, 219);
	margin: 20px auto;
	width: 90%;
	max-width: 800px;
}
